<!DOCTYPE</html>>

<html>

<head>

	<title>Restaurants</title>

</head>



<body bgcolor="#E6E6FA">

	<h1>Resturants to try!</h1>



	<style>
		h1 {

			color: green;

		}

		.form {

			font-size: 20px;

			font-weight: bold;



			color: blue;

		}
	</style>

	<div class="form">

		<form action="" style="display: flex; justify-content: center; width: 100%;">

			Zip Code: <input type="number" name="zip" value="Zip Code" style="margin-right: 30px;"><br>

Miles: <input type="number" name="miles" value="Miles" style="margin-right: 30px;"><br>

Pricing: <input type="number" name="price" value="Pricing" style="margin-right: 30px;"><br>

Rating: <input type="number" name="rating" value="" style="margin-right: 30px;"><br>

Vegan:<input type="checkbox" name="vegan" value="Vegan" style="margin-right: 30px;"><br>

</form>

	</div>



	<button type="button">Go To Menu!</button>





</body>

</html>